<h1>Lista de productos:</h1>
{{#each data}}
    <div>
        <p>Id: {{this.id}}</p>
        <p>Title: {{this.title}}</p>
        <p>Description: {{this.description}}</p>
        <p>Price: {{this.price}}</p>
        <p>Code: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        <p>Status: {{this.status}}</p>
        <p>Thumbnail: {{this.thumbnail}}</p>
        <hr />
    </div>
{{/each}}